services:
  - type: web
    name: file-to-link-bot-v2
    env: docker
    plan: free
    autoDeploy: true
    healthCheckPath: /
    envVars:
      - key: API_ID
        sync: false
      - key: API_HASH
        sync: false
      - key: BOT_TOKEN
        sync: false
      - key: ADMINS
        sync: false
      - key: DATABASE_URI
        sync: false
      - key: DATABASE_NAME
        value: filetolinkbot
      - key: BIN_CHANNEL
        sync: false
      - key: LOG_CHANNEL
        sync: false
      - key: PROTECT_CONTENT
        value: False
      - key: FSUB
        value: False
